################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

*.suo
*.vsidx
/GethaWebSite/GethaWebSite/.vs/GethaWebSite/FileContentIndex/ce0588d8-e1a4-4cf7-9af7-9b53e805f33d.vsidx
/GethaWebSite/GethaWebSite/GethaWebSite/obj/Debug/net7.0/GethaWebSite.pdb
/GethaWebSite/GethaWebSite/GethaWebSite/obj/Debug/net7.0/GethaWebSite.dll
/GethaWebSite/GethaWebSite/GethaWebSite/bin/Debug/net7.0/GethaWebSite.pdb
/GethaWebSite/GethaWebSite/GethaWebSite/bin/Debug/net7.0/GethaWebSite.dll
/GethaWebSite/GethaWebSite/GethaWebSite/obj/Debug/net7.0/GethaWebSite.assets.cache
/GethaWebSite/GethaWebSite/GethaWebSite/obj/Debug/net7.0/GethaWebSite.csproj.AssemblyReference.cache
/GethaWebSite/GethaWebSite/.vs/GethaWebSite/v17/.futdcache.v2
/GethaWebSite/GethaWebSite/.vs/ProjectEvaluation/gethawebsite.projects.v5.2
/GethaWebSite/GethaWebSite/.vs/GethaWebSite/DesignTimeBuild/.dtbcache.v2
