
header{
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
    margin-top: 3rem;
    text-align: right;

}
header nav ul li{
    display: inline;
    padding-left: 20px;
    

}
header nav ul li a{
    color: #000;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3px;
}

header nav ul li a:hover, header nav ul li a:active{
	background: #2a9d8f; 
    color: #fff;
    cursor: pointer;
    border-bottom: 3px solid #d3d2d2;
}
header nav ul li a{
  
    border-radius: 10px;
    text-align: center;
    padding: 10px;

}
header{
    margin-bottom: 130px;
}

/*Adicionando uma cor fixa ao clicar em um botão*/
.nav-item-link {
    background-color: #ebebeb;
    padding: 15px;
  }
  
  /* Define a cor de fundo dos botões quando são clicados */
  .nav-item-link:active {
    background-color: #2a9d8f;
  }
  
  /* Define a cor de fundo dos botões quando estão selecionados */
  .nav-item-link.selected {
    background-color: #2a9d8f;
    color: #fff;
  }