<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Geronimo - Pagina Inicial</title>
        
        <!-- css -->
        <link rel="stylesheet" href="../../public/css/index.css">
    </head>
    <body>
        <header>
            <nav>
                <ul class="nav-bar">
                    <li class="nav-item"><a class="nav-item-link" href="#">Pagina Inicial</a></li>
                    <li class="nav-item"><a class="nav-item-link" href="#">Recomendações</a></li>
                    <li class="nav-item"><a class="nav-item-link" href="#">Noticias</a></li>
                    <li class="nav-item"><a class="nav-item-link" href="#">Blog</a></li>
                    <li class="nav-item"><a class="nav-item-link" href="#">Login</a></li>
                    <li class="nav-item"><a class="nav-item-link" href="#">Contatos</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="wrapper">
                <div class="container">
                    <p>Caro amigo, sei que às vezes pode ser difícil manter a motivação quando estamos enfrentando desafios ou enfrentando obstáculos em nossas vidas. Mas lembre-se, a vida é uma jornada cheia de altos e baixos, e é nossa atitude e determinação que nos ajudam a superar esses momentos difíceis.</p>
                    <p>Acredite em si mesmo e tenha confiança em suas habilidades. Você é capaz de alcançar grandes coisas e realizar seus sonhos se se concentrar em suas metas e trabalhar duro para alcançá-las. Não deixe que o medo ou a dúvida o impeça de seguir em frente. Enfrente seus medos e desafios de cabeça erguida e saiba que cada obstáculo superado o torna mais forte e mais capaz</p>
                    <div class="logos">
                        <img src="../../public/image/slime.jpg" width="50%" height="50%" alt="ken">
                    </div>
                    <p>Lembre-se também de que o sucesso não é apenas sobre chegar ao topo, mas sobre o caminho percorrido. Celebre suas pequenas vitórias e aprenda com seus erros. A cada passo que você dá em direção aos seus objetivos, você está aprendendo e crescendo. </p>
                </div>
            </div>
        </main>
        <footer>
            <p><small>Todos os direitos reservados<strong> 2020 a <span class="ano"></span></strong></small></p>
        </footer>
        <!-- javascript -->
        <script src="../../src/js/index.js"></script>
    </body>
</html>