@using Getha.Domain.Entities.Enumerations;
@using Getha.Domain.Entities.Resources;
<!--  scripts -->
<script src="#"></script>
<script src="#"></script>

<script>
    //CONSTANTES
    var Tipo = '@EnumTipo.Tipo1';

    //passagem de valor entre javascript e controller usando action
    var Passagem1 = '@Url.Action("metodo", "Controller")';
    var Passagem2 = '@Url.Action("metodo", "Controller")';

    //mensagens
    var Aviso = '@Html.Raw(GethaMessages.MS001)';
 
</script>
@{
    ViewData["Title"] = "Getha - O Que você procura, em um só lugar!";
}
<div class="text-center">
    <h1 class="display-4">bem vindo</h1>
    <p><a href="https://docs.microsoft.com/aspnet/core">Em construção...</a>.</p>
</div>
