

@{
    ViewData["Title"] = "Getha - O Que você procura, em um só lugar!";
}
<div class="text-center">
    <h1 class="display-4">bem vindo</h1>
    <p><a href="https://docs.microsoft.com/aspnet/core">Em construção...</a>.</p>
</div>
